.background {
    background-image: url("/src/img/fondito.png") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed; 
    min-height: 100vh !important;
}