/* Aumenta la especificidad usando clases adicionales o combinaciones de selectores */
.custom-nav-button {
    color: white !important;
    background-color: transparent !important;
  }
  
  .custom-nav-button:focus {
    background-color: transparent !important;
    outline: none !important;
    box-shadow: none !important;
    color: white !important;
  }
  
  .custom-nav-button:hover {
    color: orange !important;
    background-color: transparent !important;
  }
  

  